.footer {
  background: #f6f7fa;
  border-top: 1px solid #ebeef2;
  border-radius: 32px 32px 0 0;
  padding: 1.2rem 0;
  color: #7a7a95;
  font-size: 1.05rem;

  .container {
    max-width: 1200px;
    margin: auto;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 800px) {
      flex-direction: column;
      gap: 1rem;
    }
  }
  .footer-links {
    display: flex;
    gap: 1.2rem;
    a {
      color: #5f4bb6;
      text-decoration: none;
      font-weight: 500;
      transition: color 0.16s;
      &:hover {
        color: #313141;
        text-decoration: underline;
      }
    }
  }
}
